extends layout
 
block content
  p
  h1 Best of all
  section.css-table
    section.two-column
      section.cell
        img(src="images/Skyrim2.jpg" alt="Skyrim2" style="height:234px;")
      section.cell
        img(src="images/Skyrim.jpg" alt="Skyrim" style="height:100 px;")
  section.css-table
    section.one-column
      section.cell
        p
        p
        h3 About
        p &nbsp &nbsp The Elder Scrolls V: Skyrim is an open world action role-playing video game developed by Bethesda Game Studios and published by Bethesda Softworks. It is the fifth main installment in The Elder Scrolls series. The game's main story revolves around the player character and their quest to defeat Alduin the World-Eater, a dragon who is prophesied to destroy the world. The game is set two hundred years after the events of Oblivion, and takes place in the fictional province of Skyrim.
