extends layout

block content
  p
  h1  PC games
  section.css-table
    section.onr-column
      section.cell
        h2 General
        p &nbsp &nbsp PC games, also known as computer games or personal computer games, are video games played on a personal computer rather than a dedicated video game console or arcade machine. Their defining characteristics include a lack of any centralized controlling authority, a greater degree of user control over the video-gaming hardware and software used and a generally greater capacity in input, processing, and output.
        p &nbsp &nbsp Home computer games became popular following the video game crash of 1983 leading to the era of the "bedroom coder". In the 1990s, PC games lost mass-market traction to console games before enjoying a resurgence in the mid-2000s through digital distribution.
        p
  section.css-table
    section.two-column
      section.cell
        img(src="images/1983.jpg" alt="1983")
      section.cell
        img(src="images/1983_2.jpg" alt="1983_2")

  section.css-table
    section.one-column
      section.cell
        p
        p
        h3 Modern games
        p &nbsp &nbsp Today, games look a lot better, like seriously a lot. Now everyone is asking for supernatural graphics, they want to forget about real world and live inside the games. And the game developers are doing their job perfectly.
  section.css-table
    section.two-column
      section.cell
        img(src="images/modern.jpg" alt="whitcher")
      section.cell
        img(src="images/modern2.jpg" alt="gta_v")
        p
        p