doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Games
          li 
            a(href="/black_flag") Black Flag
          li 
            a(href="/skyrim") Skyrim
    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p Bla bla bla <br />bla bla bla bla<br /> bla bla bla bla bla
            section.cell
              p Bla bla bla <br />bla bla bla bla<br /> bla bla bla bla bla
            section.cell
              p Bla bla bla <br />bla bla bla bla<br /> bla bla bla bla bla
            section.cell
              p Bla bla bla <br />bla bla bla bla<br /> bla bla bla bla bla
